<div class="banner"></div>
<div class="cards">
  <div class="card">
    <app-product-card></app-product-card>
  </div>
  <div class="card">
    <app-product-card></app-product-card>
  </div>
  <div class="card">
    <app-product-card></app-product-card>
  </div>
  <div class="card">
    <app-product-card></app-product-card>
  </div>
  <div class="card">
    <app-product-card></app-product-card>
  </div>
  <div class="card">
    <app-product-card></app-product-card>
  </div>
  <div class="card">
    <app-product-card></app-product-card>
  </div>
  <div class="card">
    <app-product-card></app-product-card>
  </div>

</div>
